* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
}

.wrapper {
  position: relative;
  height: 90%;
  min-height: 40rem;
  aspect-ratio: 1 / 2;
  background: transparent;
  border: solid 2px #9d00ff;
  box-shadow: 0 0 25px #9d00ff;
  overflow: hidden;
}

.wrapper .form-box {
  position: absolute;
  /* Removed from here and placed in .wrapper .form-box.login... otherwise register cannot be placed at bottom of container */
  /* top: 0; */
  width: 100%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .form-box.login {
  top: 0;
  padding: 0 2.5rem;
  /* display: none; */
}

/* Slide up out of the top version: */

/* .wrapper .form-box.login .animation {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
}

.wrapper.active .form-box.login .animation {
  transform: translateY(-50vh);
  opacity: 0;
  filter: blur(15px);
  transition-delay: calc(.1s * var(--i));
} */


/* Slide off to the left version: */

.wrapper .form-box.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
}

.wrapper.active .form-box.login .animation {
  transform: translateX(-100vw);
  opacity: 0;
  filter: blur(15px);
  transition-delay: calc(.1s * var(--i));
}



.wrapper .form-box.register {
  bottom: 0;
  padding: 0 2.5rem;
  display: none;
}

.form-box h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 2.75rem;
  margin: 1.25rem 0;
}

.input-box input {
  width: 100%;
  height: 2.75rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
  font-size: 1rem;
  color: #fff;
  transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom-color: #9d00ff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
  color: #0ef;
}

.btn {
  position: relative;
  width: 100%;
  height: 2.5rem;
  background: transparent;
  border: 2px solid #9d00ff;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#081b29, #9d00ff, #081b29, #9d00ff);
  z-index: -1;
  transition: .5s;
}

.btn:hover::before {
  top: 0;
}

.form-box .logreg-link {
  font-size: .9rem;
  color: #fff;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: #0ef;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.wrapper .info-text {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .info-text.login {
  bottom: 0;
  text-align: right;
  padding: 150px 30px 40px;
  /* display: none; */
}

.wrapper .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
}

.wrapper.active .info-text.login .animation {
  transform: translateX(100vw);
  opacity: 0;
  filter: blur(15px);
  transition-delay: calc(.1s * var(--i));
}

.wrapper .info-text.register {
  top: 0;
  text-align: right;
  padding: 0 30px 150px;
  display: none;
}

.info-text.register h2 {
  text-transform: lowercase;
  font-size: 3rem;
}

.info-text.register .definition {
  text-transform: lowercase;
  color: white;
  font-size: 1.25rem;
}

.info-text.register .register-subtext {
  text-align: left;
  color: white;
  font-size: 1.25rem;
}

.info-text h2 {
  font-size: 2rem;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}

.info-text p {
  font-size: 1rem;
  color: #fff;
}

.wrapper .bg-animate {
  position: absolute;
  top: 0;
  right: 0;

  /* Dimensions from tutorial... do not work due to my modifications */
  /* width: 37.5rem;
  height: 53.13rem; */

  width: 150%;
  height: 150%;
  background: linear-gradient(45deg, #081b29, #9d00ff);
  border-left: 3px solid #9d00ff;

  /* Dimensions from tutorial... altered due to my modifications */
  transform: rotate(30deg) skewX(-40deg);

  /* Alternative dimensions using skew instead of skewX */
  /* transform: rotate(90deg) skew(20deg); */

  /* transform: rotate(0) skewX(0); */

  transform-origin: left;
}


.wrapper .bg-animate2 {
  position: absolute;
  top: -6.25rem;
  left: 0;

  /* Dimensions from tutorial... do not work due to my modifications */
  /* width: 37.5rem;
  height: 53.13rem; */

  width: 150%;
  height: 150%;
  background: rgb(36, 36, 36);
  border-right: 3px solid #9d00ff;

  /* transform: rotate(-40deg) skewX(25deg); */
  transform: rotate(-180deg) skewX(0deg);
  transform-origin: right;
}